html {
    font-size: 62.5%;
    padding: 0;
    margin: 0;
}

body {
    background-color: rgb(1, 3, 19);
    border: 2px solid rgb(211, 165, 112) ;
}


#up_container {
    width: 80%;
    height: 240px;
    border: 2px solid rgb(187, 187, 219);
    margin: 0 auto;
    margin-top: 35px;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(5, 8, 31);
}
#up_container p {
    font-family: 'Titillium Web', sans-serif;;
    font-size: 2.7rem;
    color: rgb(223, 223, 255);;
    text-align: center;
}

#down_container {
    width: 90%;
    height: 390px;
    padding: 10px 40px;
    border: 2px solid rgb(187, 187, 219);
    margin: 50px auto;
}
#down_container p {
    font-family: 'Titillium Web', sans-serif;;
    font-size: 2.8rem;
    color: rgb(239, 231, 255);
    text-align: center;
}

/* Pic- SIde  //  Box */

.first-box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 600px;
    margin-bottom: 50px;
}
#side_part {
    width: 100%;
    height: 590px;
    /* background-color: aliceblue; */
    background-image: url("./img/w2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#right_text {
    /* background-color: beige; */
    height: 590px;
    padding: 10px 20px;
    text-align: center;
}
#right_text p {
    font-family: 'Titillium Web', sans-serif;;
    font-size: 2.7rem;
    color: rgb(255, 234, 248);
}

/* MUESTRA DEL LOGO */
.logo-container{
    width: 100%;
    height: 600px;
    background-color: rgb(0, 8, 15);
    padding-top: 50px;

}
#own_logo {
    width: 100%;
    height: 550px;
    /* background-color: rgb(0, 21, 39); */
    background-image: url(./img/LOGO\ ed\ 2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.logo-container #main_paragraph {
    text-align: center;
    position: relative;
    left: 790px;
    bottom: 435px;
    font-size: 1.3rem;
    font-family: 'Titillium Web', sans-serif;
    width: 200px;
    color: azure;
}
.logo-container p {
    width: 200px;
    color: rgb(241, 255, 252);
    font-size: 1.3rem;
    font-family: 'Titillium Web', sans-serif;
    position: relative;
    left: 505px;
    bottom: 435px;
}

/* FOOTER */
footer {
    height: 70px;
    background-color: rgb(16, 8, 63);
    padding-top: 35px;
    padding-right: 15px;
}
footer p {
    text-align: end;
    color: rgb(255, 230, 219);
    font-size: 1.9rem;
    font-family: 'Titillium Web', sans-serif;
}